

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html,
body {
    position: relative;

    margin: 0;
    padding: 0;

}

h1,h2{
    font-family: 'Lobster',  cursive !important;
}

#main {
    padding-top: 10px;

    /* omg why does' this work*/
    overflow: hidden;
}

.completed{

    color: #d1a736;
}













